[submodule ".registry"]
	path = .registry
	url = https://github.com/flr/universe
	shallow = true
	branch = HEAD
[submodule "FLCore"]
	path = FLCore
	url = https://github.com/flr/FLCore
	shallow = true
	registered = true
[submodule "ggplotFL"]
	path = ggplotFL
	url = https://github.com/flr/ggplotFL
	shallow = true
	registered = true
[submodule "FLBRP"]
	path = FLBRP
	url = https://github.com/flr/FLBRP
	shallow = true
	registered = true
[submodule "FLFishery"]
	path = FLFishery
	url = https://github.com/flr/FLFishery
	shallow = true
	registered = true
[submodule "ss3om"]
	path = ss3om
	url = https://github.com/flr/ss3om
	shallow = true
	registered = true
[submodule "FLasher"]
	path = FLasher
	url = https://github.com/flr/FLasher
	shallow = true
	registered = true
